
<div class="centered" style="padding-left: 50; padding-right: 50; padding-top: 50; font-family: Arial, Helvetica, sans-serif">
    Boba Bae is an online platform to connect fellow boba lovers. No matter what mood you are in, if you want some bubble tea and don't want to get it alone, just log onto our site to find someone to go with you!  Making an account is completely free, and aside from a few personal identifiers, the only thing you need to do when you sign up is provide your favorite boba stores so we can find a boba bae that is the best match for you! Its a great way to meet new friends, or at the very least, find a local boba shop you love. Get started by going to the top of the homepage and "Become a Bae".
</div>