<p> Become a BobaBae!</p>
<form action="createUser">
  First name:<br>
  <input type="text" name="name" value="Joe Bruin">
  <br>
  Last name:<br>
  <input type="text" name="city" value="Los Angeles">
  <br><br>
  <input type="submit" value="Submit">
</form> 

