<p> Become a BobaBae!</p>
<br>
<form method="get" action="/userCreated">
  <p> create username: </p>
  <input type="text" name="username" value="jbruin2000">
  <p> name: </p>
  <input type="text" name="name" value="Joe Bruin">
  <p> Enter your state :</p> 
  <input type="text" name="state" value="CA">
  <p> Enter your city :</p> 
  <input type="text" name="city" value="Los Angeles">
  <br><br>
  <input type="submit" value="Submit">
</form> 



