<p> Become a BobaBae!</p>
<br>
<form method="get" action="/userCreated">
  <p> create username: </p>
  <input type="text" name="username" value="jbruin2000">
  <p> name: </p>
  <input type="text" name="name" value="Joe Bruin">
  <p> Enter your state :</p> 
  <input type="text" name="state" value="CA">
  <p> Enter your city :</p> 
  <input type="text" name="city" value="Los Angeles">
  <br><br>

  <p> choose your preferred boba stores </p>
  <input type="checkbox" name="stores" value="Boba Time"> Boba Time <br>
  <input type="checkbox" name="stores" value="Coco"> Coco <br>
  <input type="checkbox" name="stores" value="Boba Guys"> Boba Guys <br>
  <input type="checkbox" name="stores" value="Quicky"> Quickly <br>

  <input type="submit" value="Submit">
</form> 



