<br>
<div class="center">
    <img src="boba_bae_logo.png" width = 200>
    <h1> Boba Bae </h1> <br>
    </div>
    
    <div class="center">
    <div class="padBottom">
    <div class="space">
        <button class = "button" >GET A BAE</button> 
        <br> <br>
        <form method="get" action="/createUser">
            <button class = "button" type="submit">BE A BAE</button>
        </form>
    </div>
    </div>
    <button class = "button">What is Boba Bae?</button> <br>
</div>