<form method="get" action="/profile">
    <p> username: </p>
    <input type="text" name="username" value="jbruin2000">
    <br>
    <br>
    <input class = "button" type="submit" value="login">
  </form> 
  
  